.buyuyen-resim {
    margin-top:150px;
    margin-left:50px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.buyuyen-resim:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    box-shadow: 10px 10px 5px #888888;
    z-index: 2;
    position:relative;
}